{{#each blogDataClear as |blog| }}
  <div class="post">
    <h2 class="post-title">{{blog.title}}</h2>
    <p class="post-content">{{blog.contents}}</p>
    <p>Created by: {{blog.user.name}}</p>

    <form method="POST" action="/blog/{{blog.id}}/comments" id="comment-form">
      <div class="form-group">
        <label for="comment">Leave a comment:</label>
        <textarea class="form-control" id="comment-content" name="comment_text" rows="3"></textarea>
      </div>
      <button type="submit" class="btn-prime">Submit</button>
    </form>

    {{#each blog.comments as |comment|}}
      <div class="comment">
        <p>{{comment.comment_text}}</p>
        <p>Posted by: {{comment.user.name}} on {{dateFormat comment.date_created "MMMM DD, YYYY h:mm A"}}</p>
      </div>
    {{/each}}
  </div>
{{/each}}





